/*.social-networks {
    display: flex;
    justify-content: space-between;

}

.social-network__link {
    @extend %flex;
    @include format (44px, 44px);
    border-radius: 50%;
    transition: background-color 250ms var(--primary-timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-network__link--accent {
    background-color: rgba(255, 255, 255, 0.1);

}

.social-network__icon {
    fill: var(--secondary-accent-color);

    .social-network__link:hover &,
    .social-network__link:focus & {
        fill: var(--secondary-accent-color);
        }
}

