
.characteristic__icon-container {
    @extend %flex;
    height: 120px;
    background-color: var(--accent-section-color);
    margin-bottom: 30px;

    
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }

}

.characteristic__item:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .characteristic__title {
        text-align: center;
    }
}

.characteristic__point {
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}


@media screen and (min-width: 768px) {
    .characteristic__list {
        display: flex;
        flex-wrap: wrap;
    }  
    
    .characteristic__item {
        width: 354px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    
    .characteristic__item:nth-child(2n) {
        margin-right: 0;
    }

    .characteristic__item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
   
}

@media screen and (min-width: 1200px) {

    .characteristic {
        padding-bottom: 0;
    }
    
    .characteristic__list {
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    
    .characteristic__item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }
    
    .characteristic__container {
        min-width: 270px;
        min-height: 248px;
        }

}