.characteristic {
    padding-bottom: 0;
}

.characteristic__list {
    display: flex;
    justify-content: space-between;
}

.characteristic__item:not(:last-child) {
    margin-right: 30px;
}

.characteristic__container {
    min-width: 270px;
    min-height: 248px;
}

.characteristic__icon-container {
    @extend %flex;
    @include format (270px, 120px);
    background-color: var(--accent-section-color);
    margin-bottom: 30px;
}

.characteristic__point {
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
}