.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.address-list {
    font-style: normal;
    line-height: 1.71;
}

.address-list__link-fact {
    color: var(--secondary-accent-color);
    text-decoration: none;
    font-style: normal;
}

.address-list__link-mail {
    color: var(--text-footer-color);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms var(--primary-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-list__link-tel {
    color: var(--text-footer-color);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms var(--primary-timing-function);


    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer__social-networks {
    width: 206px;
    height: 80px;
}

.footer__title {
    margin-bottom: 20px;
    color: var(--secondary-accent-color);
}

    
@media screen and (max-width: 1199px) {
    .footer__nav,
    .footer__social-networks {
        margin-bottom: 60px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .footer__nav {
        width: 232px;
        height: 127px;
    }

    .address-list {
        text-align: center;
    }

    .footer__title {
        text-align: center;
    }

    .address-list__item:not(:last-child) {
       margin-bottom: 8px;
    }

    .footer__submit-form-input {
        margin-bottom: 20px;
    }
  
    .submit-form__button {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 480px) {
    .footer__submit-form-input {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .footer__submit-form-input {
        width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    } 

    .footer__logo {
        margin-right: auto;
        margin-left: auto;
    }


    .footer__submit-form {
        margin-left: 166px;
    }   
}

@media screen and (min-width: 1200px) {
   
    .footer__container {
        flex-wrap: nowrap;
    }

    .footer__nav {
        height: 132px;
        margin-right: 70px;
    }
    
    .address-list__item:not(:last-child) {
        margin-bottom: 9px;
    }

    .footer__submit-form {
        margin-left: auto;
    }

    .footer__submit-form-input {
        width: 358px;
        margin-right: 12px;
    }
}


    
   
     
