.header {
    border-bottom: 1px solid var(--border-bottom-color);
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 2px solid red;

    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}


.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-nav,
.contacts {
    display: none;
}

@media screen and (min-width: 768px) {

    .header-nav {
        display: flex;
        align-items: center;
        background: var(--secondary-accent-color);
    }

    .site-nav,
    .contacts {
        display: block;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    .site-nav {
        display: flex;
        align-items: center;
    }

    .site-nav__item:not(:last-child) {
         margin-right: 50px;
    }
    
    .site-nav__link {
        position: relative;
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
        color: var(--title-text-color);
        transition: color 250ms var(--primary-timing-function);
        outline: 2px solid blue;
    
        &.current,
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    
        &.current::after {
            position: absolute;
            top: 56px;
            content: "";
            display: block;
            @include format (100%, 4px);
            border-radius: 2px;
            background-color: var(--accent-color);
        }
    }

    .contacts__item:first-child {
        margin-bottom: 10px;
    }

    .contacts__link {
        color: inherit;
        outline: 2px solid blue;
        transition: color 250ms var(--primary-timing-function);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .contacts__icon {
        fill: var(--primary-text-color);
        margin-right: 8px;
        transition: fill 250ms var(--primary-timing-function);
        outline: 2px solid violet;

        .contacts__link:hover & {
        fill: var(--accent-color);
        }
    }
}

@media screen and (min-width: 1200px) {

    .site-nav__link.current::after {
            position: absolute;
            top: 52px;
    }

    .contacts {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .contacts__item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
    }
    
    .contacts__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .contacts__icon {
        margin-right: 10px;
    }

}




