.team {
    background-color: var(--accent-section-color);
}

.people-card__info {
    background-color: var(--secondary-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 24px;
}

.people-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.people-card__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.people-card__social-networks {
    padding-left: 122px;
    padding-right: 122px;
}

.people-card__icon {
    fill: var(--icon-color);
    transition: fill 250ms var(--primary-timing-function);
}


@media screen and (max-width: 479px) {

    .people-card__social-networks {
        justify-content: center;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .team__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {

    .team__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .team__item {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .people-card__social-networks {
        padding-left: 74px;
        padding-right: 74px;
    }
    
}

@media screen and (min-width: 1200px) {

    .team__item {
        flex-basis: calc((100% - 120px) / 4);

    }

    .people-card__info {
        padding-bottom: 30px;
    }

    .people-card__social-networks {
        padding-left: 30px;
        padding-right: 30px;
    }
}